<% @page_title="Articles" %>


<%= link_to("back to article",{:action =>"index"}, :class =>"action index") %>

<div class="delete_article">
<h3>Delete article</h3>
<%= form_for(:articles, :url=>{:action =>'destroy',:id => @articles.id}) do |f| %>
 <p>are you surely want to delete it</p>
  <p class="reference"><%= @articles.title %></p>
 <div class="form-submit">
 	<%= submit_tag("delete article") %>
 </div>
 <% end %>
</div>