<% @page_title="Articles" %>

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/admin">Admin</a>
    </li>
    <li>
        <i class="fa fa-table"></i> <a href="/articles">Article</a>
    </li>
    <li class="active">
        <i class="fa fa-form"></i> Delete
    </li>
</ol>

<%= link_to("back to article",{:action =>"index"}, :class =>"action index") %>

<div class="delete_article">
<h3>Delete article</h3>
<%= form_for(:articles, :url=>{:action =>'destroy',:id => @articles.id}) do |f| %>
 <p>are you surely want to delete it</p>
  <p class="reference"><%= @articles.title %></p>
 <div class="form-submit">
 	<%= submit_tag("delete article") %>
 </div>
 <% end %>
</div>