<% @page_title="Admin Users" %>
<div class="page-header"><h1>Admins</h1></div>
<%= link_to("back to article",{:action =>"index"}, :class =>"action index") %>

<div class="update_article">
<h3>update article</h3>
<%= form_for(:adminusers,:html=>{:id => "users_form",:multipart=>true} ,:url=>{:action =>'update',:id => @adminusers.id}) do |f| %>
 <%= render(:partial => 'form',:locals =>{:f => f}) %>
 <div class="form-submit">
 	<%= submit_tag("update article") %>
 </div>
 <% end %>
</div>