<% @page_title="Admin"%>
<div class="menu">
  <div class="identity">Logged in as: <%= session[:user_name] %></div>
</div>
<div class="myart">
<%=link_to("View Articles", {:controller => 'public'}, :class =>"btn btn-lg btn-primary",:styles=>"padding-right: 30px;
    padding-left: 30px;")%>
</div>
</div>
