<% if session[:user_name] %>
	<% ses= session[:user_name] %>
	<%= link_to("#{ses}",{:controller =>'admin'}, :class =>"action" )%>
<%else %>
	<%=link_to("login",{:controller =>'access'}, :class =>"action" )%>
<% end %>
<%=link_to("articles",{:action => 'index'}, :class =>"action" )%>
<%=link_to("contact_us",{:action => 'contact_us'}, :class =>"action" )%>
<div id="my-articles">

<h1>About Us</h1>
<p>
ournalism is a tool, which when used wisely and effectively, has the power to turn nothing into everything. With writers developing at every Facebook post and reporters going out of their way to grab and break news first, we believe that the essence of journalism is lost. It is about reaching out to an array of audience through just a few words, and Startup Chronicles help in doing so. The current generation does not believe in waiting for the opportunity to come their way, they take a leap of faith and risk their talents. With Start-up Companies of all sorts emerging slowly, it is almost impossible to keep track of what’s new. 
</p>
<p>So do you have a Start-up company, YouTube Blog, Music Album, started a Food Joint, or launched Couture Boutique, authored a Book, or developed a Gaming App (so goes the endless list) and you wish it reached to a wider audience? Trouble having to collect revenue for advertising your genius, on paper? </p>

<p>Startup Chronicles will record your endeavour and write about events you’d wish to make popular. Free Unlimited advertisements on Social Sites will be an obvious part of the deal! (Who doesn’t follow social media after all?) We believe in active, updated and fresh reporting and what better than your Start-up, to archive? 
</p>

<p>We gladly welcome you to be Chronicled forever.</p>
  